<div class="container2" >
    <div class="nav-one">
        <div class="logo">
            <a href="/byteblog">
                <a href=""><i class="fa-brands fa-slack"></i></a>
            </a>
        </div>
        <div class="brand-name">
            <a href="/byteblog">ByteBlog</a>
        </div>
        <div class="contact">
         <a href=""><i class="fa-brands fa-facebook"></i></a>
         <a href=""><i class="fa-brands fa-pinterest"></i></a>
         <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>

    <div class="nav-two">
        <a href="/byteblog">All Blog</a>
        <a href="/byteblog/new">Post Blog</a>
        <a href="">About</a>
        <a href="">Contact</a>
        <!-- <div class="search-btn">
            <i class="fa fa-search"></i>
        </div> -->
    </div>
    
</div>